body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
        text-align: center;
        background-color: #FFF6EF;
}

header{
    background-color: #D15E41; color: #FFFFFF;
}

.logo{
width: 190px
}

.buscador{
    width: 300px
}


/* esto es del menu de navegacion */
nav ul li a {
    color: #FFFFFF;
}

/* parte de la seccion de fvoritos */
#favs{
    background-color: #FFFFFF;
}
#favs h2{
    color: #2A7F98;
}


/* parte de blackfriday */
#blackfriday{
    background-color: #3E3228;
    color:#FDF3E1;
}
#blackfriday h2{
    color:#D15E41
}


/* parte de productos */
#productos{
    background-color: #F4F8F9;
}
#productos h2{
    color:#2A7F98
}


/* parte de contacto */
#contacto{
    background-color: #FDF3E1;
}
.input-contacto{
    width: 230px;
}


/* el pie de pag */
footer{
    background-color: #FF9A76;
}
footer a{
    color: #3E3228;
}