body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
        text-align: center;
        background-color: #FFF6EF;
}

header{
    background-color: #D15E41; color: #FFFFFF;
}

.logo{
width: 190px
}

.buscador{
    width: 300px
}


/* esto es del menu de navegacion */
nav ul li a {
    color: #FFFFFF;
}




/* el pie de pag */
footer{
    background-color: #FF9A76;
}